
:root{
    --dark-color:#750750;
    --light-color:#D9D9D9;
    --mid-color: #C9C9F5;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    border-radius: 0px 0px 40px 40px;
    background-color: var(--light-color);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--dark-color);
}

#search{
    align-items: center;
    margin:40px 20px 20px 20px;
    display: flex;
    justify-content: center;
    gap:2em;
    
}
.buttonLook{
    
    height: 50px;
    color:var(--dark-color);
    border: 5px solid var(--dark-color);
    width: 200px;
    border-radius: 50px;
    font-size: 20px;
    cursor:pointer;
}
.invertedButtonLook{
    font-size: 20px;
    color:var(--light-color);
    background-color: var(--dark-color);
    border: 5px solid var(--light-color);
    width: 200px;
    height:50px;
    border-radius: 50px;
    cursor:pointer;
}

.inputField{
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    border: 5px solid var(--dark-color);
    width: 800px;
    height: 50px;
    border-radius: 50px;
}

.banner{
    display:flexbox;
    flex-direction: column;
    width: 100vw;
    display: inline-block;
    font-size: 2em;
    line-height:1.75em;
    background-color: var(--dark-color);
    vertical-align: center;
    height: 2em;
}
#description{
    min-width: none;
    margin-left: 5vw;
    color:var(--light-color)
}
#timeLeft{
    min-width: 0px;
    margin-left: 70vw;
}
.list{
    margin-top: 40px;
    display:flex;
    flex-direction:column-reverse;
    row-gap: 10px;
    gap:20px
}
.listWrapper{
    margin:auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.listItem:nth-child(even){
    background-color:var(--mid-color);
}
.listItem{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    width: 80vw;
    overflow-wrap:break-word;
    font-size: 2em;
    line-height:1.75em;
    background-color: var(--light-color);
    vertical-align: center;
    height: 2em;
}


#trash{
    display:flex;
    justify-content: center;
    border-radius: 50px;
    width: 5vw;
    font-size: 2em;
    line-height:1.75em;
    background-color: var(--light-color);
    /* vertical-align: center; */
    height: 2em;
}