
:root{
    --dark-color:#750750;
    --light-color:#D9D9D9;
    --mid-color: #C9C9F5;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    position:relative;
    display:flex;
    flex-direction: column;

}

header{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding:1rem 0rem 1rem 0rem;
    border-radius: 0px 0px 40px 40px;
    background-color: var(--light-color);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--dark-color);
}

#search{
    align-items: center;
    margin:40px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    /* gap:2em; */
    
}

.inputField{
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    border: 5px solid var(--dark-color);
    width: 800px;
    height: 50px;
    border-radius: 50px;
}

.button{
    height: 50px;
    color:var(--dark-color);
    border: 5px solid var(--dark-color);
    width: 160px;
    padding: 0px 10px 0px 10px;
    border-radius: 50px;
    font-size: 20px;
    cursor:pointer;
}
.buttonLook{
    background-color: var(--light-color);
}
.invertedButtonLook{
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 5px solid var(--light-color);
}



.banner{
    flex-grow: 1;
    display:flex;
    color:var(--light-color);
    flex-direction: row;
    width: 100vw;
    font-size: 1em;
    line-height:1.75em;
    background-color: var(--dark-color);
    vertical-align: center;
    height: 2em;
}
#description{
    width: 50vw;
    margin-left: 5vw;
}
#timeLeft{
    margin-right: 5vw;
    width: 50vw;
    display: block;
    text-align: right;
    /* left: 100%;  
    transform: translate(-100%, 0); */
    /* margin-right: 5vw; */
}
.list{
    display:flex;
    flex-direction:column-reverse;
    gap: 10px;
}
.listWrapper{
    margin:auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.listItem:nth-child(odd){
    color:red;

}
.listItem{
    display: flex;
    align-items: center;
    margin:auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    width: 80vw;
    overflow-wrap:break-word;
    font-size: 20px;
    background-color: var(--light-color);
    height: 40px;
}


#trash{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height:40px;
    background-color: var(--light-color);
    /* vertical-align: center; */
}

.dropdown{
    position:fixed;
    /* display: flex; */
    flex-direction: column;
    gap: 40px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: aqua;
    min-width: 72vw;
    min-height: fit-content;
    box-shadow: 8px 8px 16px var(--mid-color);
    border-radius: 10px;
    display:none;
    
}

.timer{
    top: 0.75em;
    font-size: 1.8em;
    gap: 1em;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* height:2rem; */
    justify-content: center;
    align-items: center;
}

.defaultTimer{
    margin-top:10px;
    font-size: 1em;
    gap: 1em;
    position:relative;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.defaultTimerCircle{
    display: flex;
    /* outline: var(--dark-color) solid 4px; */
    justify-content: center;
    align-items: center;
    border-color:black;
    background-color: skyblue;
    border-radius: 50%;
    border-width: 50px;
    width: 5rem;
    height: 5rem;
    /* border-radius: 50%; */
}

.invertedSubmitBtn{
    font-size: 20px;
    color:var(--light-color);
    background-color: var(--dark-color);
    border: 5px solid var(--light-color);
    width: 200px;
    height:50px;
    border-radius: 50px;
    cursor:pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-bottom: 10px;
}

.timerName{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    font-size: 20px;
    color:var(--dark-color);
    font-weight: bolder;
    
}