
:root{
    --dark-color:#750750;
    --light-color:#D9D9D9;
    --mid-color: #C9C9F5;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    border-radius: 0px 0px 40px 40px;
    background-color: var(--light-color);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--dark-color);
}

#search{
    align-items: center;
    margin:40px 20px 20px 20px;
    display: flex;
    justify-content: center;
    gap:2em;
    
}
.buttonLook{
    
    height: 50px;
    color:var(--dark-color);
    border: 5px solid var(--dark-color);
    width: 200px;
    border-radius: 50px;
    font-size: 20px;
    cursor:pointer;
}
.invertedButtonLook{
    font-size: 20px;
    color:var(--light-color);
    background-color: var(--dark-color);
    border: 5px solid var(--light-color);
    width: 200px;
    height:50px;
    border-radius: 50px;
    cursor:pointer;
}

.inputField{
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    border: 5px solid var(--dark-color);
    width: 800px;
    height: 50px;
    border-radius: 50px;
}

.banner{
    display:flexbox;
    flex-direction: column;
    width: 100vw;
    display: inline-block;
    font-size: 2em;
    line-height:1.75em;
    background-color: var(--dark-color);
    vertical-align: center;
    height: 2em;
}
#description{
    min-width: none;
    margin-left: 5vw;
    color:var(--light-color)
}
#timeLeft{
    min-width: 0px;
    margin-left: 70vw;
}
.list{
    margin-top: 40px;
    display:flex;
    flex-direction:column-reverse;
    row-gap: 10px;
    gap:20px
}
.listWrapper{
    margin:auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.listItem:nth-child(even){
    background-color:var(--mid-color);
}
.listItem{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    width: 80vw;
    overflow-wrap:break-word;
    font-size: 2em;
    line-height:1.75em;
    background-color: var(--light-color);
    vertical-align: center;
    height: 2em;
}


#trash{
    display:flex;
    justify-content: center;
    border-radius: 50px;
    width: 5vw;
    font-size: 2em;
    line-height:1.75em;
    background-color: var(--light-color);
    /* vertical-align: center; */
    height: 2em;
}

.dropdown{
    position:absolute;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* height:fit-content; */
    /* left: 30vw; */
    justify-content:center;
    align-items: center;
    background-color: var(--dark-color);
    min-width: 40vw;
    min-height: 40vh;
    /* vertical-align: middle; */
    /* border: 5px solid 50px var(--dark-color); */
    box-shadow: 8px 8px 16px var(--mid-color);
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    border-radius: 10px;
    /* overflow:hidden; */
    /* display:none; */
    
}

.timer{
    position:relative;
    top: 0.75em;
    font-size: 1.8em;
    gap: 1em;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* height:2rem; */
    justify-content: center;
    align-items: center;
}

.defaultTimer{
    margin-top:10px;
    font-size: 1em;
    gap: 1em;
    position:relative;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    height:2rem;
    justify-content: center;
    align-items: center;
}

.defaultTimerCircle{
    display: flex;
    /* outline: var(--dark-color) solid 4px; */
    justify-content: center;
    align-items: center;
    border-color:black;
    background-color: skyblue;
    border-radius: 50%;
    border-width: 50px;
    width: 5rem;
    height: 5rem;
    /* border-radius: 50%; */
}

.invertedSubmitBtn{
    font-size: 20px;
    color:var(--light-color);
    background-color: var(--dark-color);
    border: 5px solid var(--light-color);
    width: 200px;
    height:50px;
    border-radius: 50px;
    cursor:pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timerName{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    font-size: 20px;
    color:var(--dark-color);
    font-weight: bolder;
    
}